.article__list li {
  margin-top: 10px;
  border: 3px solid #CFA85C;
  border-radius: 10px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  align-items: center;

  background-color:#c7a151;
}
.articleAuthor  {
  font-size: 10px;
  color: white;
}
.articleBody {
  padding-left: 25px;
  width: 70%;
  font-size:20 px ;
  color: white;
}
.articleDate{
  font-size: 10px;
  color: white;
}
li a {
  text-decoration: none;
  color: white;
}

li  a:link {
  text-decoration: none;
}

li  a:visited {
  text-decoration: none;
}

li a:active {
  text-decoration: none;
}