.article__list {
  height: 669px;
  overflow: auto;
}
.article__list::-webkit-scrollbar {
  display: none;
}
.article__card  {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 10px;
  border: 3px solid #CFA85C;
  border-radius: 10px;
  background-color: #c7a151;

}
.article__userinfo {
  padding: 0 30px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-direction: row;
}

.articleAuthor  {
  font-size: 10px;
  color: white;
}
.articleBody {
text-align:left;
font-size: 20 px;
color: white;

width: 50%;
}
.articleDate{
  font-size: 10px;
  color: white;
}
.article__card a {
  text-decoration: none;
  color: white;
}

.article__card a:link {
  text-decoration: none;
}

.article__card a:visited {
  text-decoration: none;
}

.article__card a:active {
  text-decoration: none;
}