.comment__card {
  margin-top: 10px;
  border: 3px solid #CFA85C;
  border-radius: 10px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  align-items: center;

  background-color: #c7a151;
}

.commentAuthor {
  font-size: 10px;
  color: white;
}

.commentBody {
  padding-left: 25px;
  width: 70%;
  font-size: 20 px;
  color: white;
}

.commentDate {
  font-size: 10px;
  color: white;
}
