.AvailableUsernames{
  border: solid 2px white;
  position:  absolute;
  transform: translate(-70%);
  width: 40%;
  font-size: 15px;
  color: white;
  background-color: #c7a151;
}
.AvailableUsernames {
margin: 0;
}