.App {
  
  text-align: center;
  width: 375px;
  height:812px;
  display: block;
  margin: 0 auto;

  
}


.article__list {

  list-style: none;
  padding: 10px;
  
}


.comment__card {
border:2px solid blue;
}

.delete {
  background-color: #c7a151;
  width: 100%;
  border: 9999px;
}

.deleteImg {
  width: 40%;
}