.App {
  text-align: center;
  width: 80%;
  display: block;
  margin: 0 auto;
  
}

img {
  width: 15%;
}
.article__list {
  border: 1px solid pink;
  list-style: none;
  padding: 10px;
  
}


.comment__card {
border:2px solid blue;
}
.comment__sorting{
  border: 2px solid pink;
}
.article__single{
border: 2px solid green;
}

.comment__submit{
border: 2px solid red;
}