.App {
  text-align: center;
  display:grid;
}
.logo {
  width: 10%;
}
img {
  width: 15%;
}
.article__list {
  border: 1px solid pink;
}
.article__card{
  border:2px solid blue
}
.nav {
  border:1px solid black
}
.featured{
  border: 1px solid green;
}